# Actividad - Trabajando con DataFrames de Pandas.
## Criterios de evaluación.

* Se deben utilizar nombres de variables descriptivos y claros (Utilizar la nomeclatura correspondiente para los nombres de variables).
* Comentarios claros y concisos que expliquen el propósito de cada sección del código.
* Utilizar mensajes de commit **descriptivos**. (Puedes utilizar la extension CONVENTIONAL COMMIT de VS-CODE). 
* Entrega en tiempo y forma.
* Todo el código desarrollado debe ser subido a un repositorio en GitHub (el nombre del repositorio de seguir la siguiente estructura: pandas_df_tlp3_nombre_apellido).
* Para resolver las actividades se debe insertar casillas de codigo entre cada actividad del cuaderno de Jupyter
* Deben trabajar con el datasets adjunto a la actividad

### ¡Importante!
**El incumplimiento de los criterios de evaluación restará puntos en la nota final del práctico!**

In [2]:
import pandas as pd
import sqlite3

In [3]:
#Aqui agrega la conexión a la base de datos
conn = sqlite3.connect("Salaries.sqlite")

#Crea el dataframe con los datos del datasets
df = pd.read_sql_query("SELECT * FROM Salaries", conn)

conn.close()
df.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,None,567595.43,567595.43,2011,None,San Francisco,None
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,None,538909.28,538909.28,2011,None,San Francisco,None
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,None,335279.91,335279.91,2011,None,San Francisco,None
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,None,332343.61,332343.61,2011,None,San Francisco,None
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,None,326373.19,326373.19,2011,None,San Francisco,None

1. **Top 10 empleados con mayor salario total (incluyendo beneficios)**
Extrae e imprime un top 10 de expleados con mayor salario incluyendo los beneficios

In [7]:
#todo
#ordena el dataframe por la columna TotalPayBenefits de forma descendente y selecciona los 10 primeros registros
empleados_mayor_salario = df.sort_values(by='TotalPayBenefits', ascending=False).head(10)

print(empleados_mayor_salario)

            Id          EmployeeName  \
0            1        NATHANIEL FORD
1            2          GARY JIMENEZ
110531  110532           David Shinn
110532  110533            Amy P Hart
110533  110534  William J Coaker Jr.
72925    72926        Gregory P Suhr
72926    72927  Joanne M Hayes-White
110534  110535        Gregory P Suhr
110535  110536  Joanne M Hayes-White
110536  110537       Ellen G Moffatt

                                              JobTitle    BasePay OvertimePay  \
0       GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY  167411.18         0.0
1                      CAPTAIN III (POLICE DEPARTMENT)  155966.02   245131.88
110531                                  Deputy Chief 3  129150.01         0.0
110532                               Asst Med Examiner  318835.49    10712.95
110533                        Chief Investment Officer   257340.0         0.0
72925                                  Chief of Police  319275.01         0.0
72926                           Chief, Fire Department  313686.01         0.0
110534                                 Chief of Police  307450.04         0.0
110535                          Chief, Fire Department   302068.0         0.0
110536                               Asst Med Examiner  270222.04     6009.22

         OtherPay  Benefits   TotalPay  TotalPayBenefits  Year Notes  \
0       400184.25      None  567595.43         567595.43  2011  None
1       137811.38      None  538909.28         538909.28  2011  None
110531  342802.63  38780.04  471952.64         510732.68  2014  None
110532   60563.54  89540.23  390111.98         479652.21  2014  None
110533    82313.7  96570.66  339653.70         436224.36  2014  None
72925    20007.06  86533.21  339282.07         425815.28  2013  None
72926     23236.0  85431.39  336922.01         422353.40  2013  None
110534   19266.72  91302.46  326716.76         418019.22  2014  None
110535   24165.44  91201.66  326233.44         417435.10  2014  None
110536    67956.2  71580.48  344187.46         415767.94  2014  None

               Agency Status
0       San Francisco   None
1       San Francisco   None
110531  San Francisco     PT
110532  San Francisco     FT
110533  San Francisco     PT
72925   San Francisco   None
72926   San Francisco   None
110534  San Francisco     FT
110535  San Francisco     FT
110536  San Francisco     FT

2. **Filtrar empleados con más de 50,000 en horas extra, la columna a tratar es: (OvertimePay)**

In [ ]:
#todo

3. **Contar cuántos empleados únicos hay por año**

In [ ]:
#todo

4. **Ver cuántos cargos únicos (JobTitle) existen y los 5 más comunes**

In [ ]:
#todo

5. **Mostrar el salario total (TotalPay) promedio por año**

In [ ]:
#todo

6. **Exporta todos los datos a un CSV y muestra los ultimos 10 valores**

In [ ]:
#todo